<nav>
    <ul>
      <li><a routerLinkActive="active current" routerLink="/airplanes">Airplanes</a></li>
      <li><a routerLinkActive="active current" routerLink="/buses">Buses</a></li>
      <li><a routerLinkActive="active current" routerLink="/cargoShips">CargoShips</a></li>
      <li><a routerLinkActive="active current" routerLink="/trucks">Trucks</a></li>
      <li><a routerLinkActive="active current" routerLink="/trains">Trains</a></li>
      <li><a routerLinkActive="active current" routerLink="/vehicles">Vehicles</a></li>
      <li><a routerLinkActive="active current" routerLink="/journeys">Journeys</a></li>
      <li><a routerLinkActive="active current" routerLink="/tickets">Ticket</a></li>
    </ul>
</nav>