<div class="table-panel">
    <table>
        <thead>
            <tr>
                <th>Passenger capacity</th>
                <th>Price per kilometer</th>
                <th>Carts</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr train-table-row *ngFor="let train of trains; let i = index"
                [train]="train"
                [rowIndex]="i"
                (deletedIndex)="onElementDeleted($event)">
            </tr>    
        </tbody>
        <add-button 
            [entityType]="entityType"
            [tableElements]="trains">
        </add-button>
    </table>  
</div>