<div class="table-panel">
    <table>
        <thead>
            <tr>
                <th>Passenger capacity</th>
                <th>Price per kilometer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr bus-table-row *ngFor="let bus of buses; let i = index"
                [bus]="bus"
                [rowIndex]="i"
                (deletedIndex)="onElementDeleted($event)">
            </tr>    
        </tbody>
        <add-button 
            [entityType]="entityType"
            [tableElements]="buses">
        </add-button>
    </table>
    
</div>

