<form [formGroup]="form">
    <div class="form-group">
        <label for="passengerCapacity">Passenger Capacity</label>
        <input 
            formControlName="passengerCapacity"
            id="passengerCapacity"
            type="number"
            class="form-control">
    </div>
    <div class="form-group">
        <label for="pricePerKilometer">Price Per Kilometer</label>
        <input 
            formControlName="pricePerKilometer"
            id="pricePerKilometer"
            type="number"
            class="form-control">
    </div>
    <div class="form-buttons">
        <button type="button" *ngIf="isCreating" (click)="onCreate()">Create</button>
        <button type="button" *ngIf="isEditing" (click)="onEdit()">Save</button>
        <button type="button" (click)="onCancel()">Cancel</button>
    </div>  
</form>

